---
import PostPreview from "@/components/blocks/PostPreview.astro";
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/post";
import site from "@/config/site";

const posts = await getPosts();
const years = [
  ...new Set(posts.map((post) => post.data.createdAt.getFullYear())),
];
---

<Layout
  title={site.labels.postsTitle}
  description={`${site.labels.postsDescription} — ${posts.length} posts.`}
>
  <!-- <div class="animate-in fade-in mx-auto max-w-2xl p-8 duration-700 md:p-16">
  </div> -->
  <div class="mx-auto max-w-2xl p-8 md:p-16">
    <header class="mb-12">
      <h2 class="mb-4 text-3xl font-bold tracking-tight">{site.labels.postsTitle}</h2>
      <p class="text-sm font-light text-muted-foreground italic">
        {site.labels.postsDescription} — {posts.length} posts.
      </p>
    </header>

    <div class="space-y-16">
      {
        years.map((year) => (
          <section class="relative">
            <h3 class="year text-4xl tracking-tighter text-foreground/40">
              {year}
            </h3>
            <div class="space-y-8">
              {posts
                .filter((post) => post.data.createdAt.getFullYear() === year)
                .map((post) => (
                  <PostPreview post={post} />
                ))}
            </div>
          </section>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .year {
    -webkit-text-fill-color: #0000;
    -webkit-text-stroke: thin;
  }
</style>
