---
import site from "@/config/site";
import type { HeadProps } from "@/types";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

type Props = HeadProps;

const { title, description, image = site.ogImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />

  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

  <!-- PWA Icons -->
  <link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="/icon-512.png" />

  <!-- PWA Manifest -->
  <link rel="manifest" href="/manifest.json" />

  <!-- Theme Color -->
  <meta name="theme-color" content="#3F9C87" />
  <meta name="msapplication-TileColor" content="#3F9C87" />

  <meta name="generator" content={Astro.generator} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta name="twitter:creator" content={`@${site.meta.author}`} />
  <meta name="twitter:image" content={new URL(image, Astro.url)} />

  <!-- RSS Link -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title={site.meta.title}
    href={new URL("rss.xml", Astro.site)}
  />

  <!-- canonical url -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- pagefind -->
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script src="/pagefind/pagefind-ui.js" is:inline></script>

  <!-- font  -->
  <Font cssVariable="--font-display" preload />

  <!-- View Transtions -->
  <ClientRouter />
</head>
